<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>VaultPass - Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->

  <!-- Fonts -------------------------------------------------------->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
    rel="stylesheet">

  <!-- NAV CSS -->
  <link rel="stylesheet" href="/styles/nav.css">
  <link rel="stylesheet" href="/styles/vaultPasses.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/newPass.css">
  <link rel="stylesheet" href="/styles/drop-menu.css">
  <link rel="stylesheet" href="/styles/generate.css">

  <!--- App JS --->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/add-website.js"></script>
  <script defer src="/scripts/password-generator.js"></script>
  <script defer src="/scripts/dropdown.js"></script>
</head>

<body>
  <nav>
    <!-- <%- include('partials/_header') %> -->
    <span class="vaultPass-header">VaultPass</span>
    <div class="username-head">USERNAME</div>
    <div class="logout-button">
      <button class="logout-button" type="submit">Logout</button>
    </div>
  </nav>
  </main>
  <section>
    <div>
      <form id="new-pass" class="new-vaultpass" action="/new-pass" method="POST">
        <input type="text" name="url" placeholder="Website URL">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <button class="new-entry" type="submit">Create new VaultPass</button>
      </form>
      <div>
        <button type="button" id="generate-password">Generate VaultPassword</button>
      </div>
      <div id="dropdownContainer"></div>
    </div>
  </section>
</body>


</html>