button#generate-password {
  font-family: 'Bungee Spice', sans-serif;
  /* margin-left: 25.4em; */
  margin-top: 1.1em;
  float: right;
}

button.dropdown-toggle {
  font-family: 'Bungee Spice', sans-serif;
  margin-top: 1.1em;
}