nav {
  position: fixed;
  display: flex;
  top: 0px;
  justify-content: space-between;
  height: 120px;
  width: calc(100% - 3em);
  align-items: center;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav .navbar-brand {
  font-size: 2em;
  position: relative;
  display: flex;
  align-items: flex-end;
}

nav .navbar-nav {
  display: flex;
  align-items: center;
}

nav .navbar-text,
nav .nav-item {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
  position: relative;
  top: calc(50% - 0.5em);
}