section {
  position: fixed;
  padding: 10px;
}

button.new-entry {
  font-family: 'Bungee spice', sans-serif;
}

div.container-edit {
  display: flex;
  flex-direction: column;
}

button#cancelBtn {
  margin-right: -143px;
  float: right;
}

#url-field {
  margin-top: 73px;
}

.fields {
  padding: 6px;
}

.buttons {
  padding: 4px;
  border-radius: 8px;
  font-family: "Bungee spice", sans-serif;
  background: black;
}